<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lilun.passionlife">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".cloudplatform.ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".cloudplatform.ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".cloudplatform.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".cloudplatform.ui.home.HomeView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />



        <activity
            android:name=".cloudplatform.ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloudplatform.ui.activity.RegestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloudplatform.ui.login.LoginView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 系统配置 -->
        <activity
            android:name=".cloudplatform.ui.activity.SystemConfigActivity"
            android:screenOrientation="portrait" />

        <!-- 组织机构管理 -->
        <activity
            android:name=".cloudplatform.ui.activity.ManagerOrganizationActivity"
            android:screenOrientation="portrait" />

        <!-- 角色管理 -->
        <activity
            android:name=".cloudplatform.ui.activity.ManagerRoleActivity"
            android:screenOrientation="portrait" />

        <!-- 员工管理 -->
        <activity
            android:name=".cloudplatform.ui.activity.ManagerStaffActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />

        <!-- 员工管理 -->
        <activity
            android:name=".cloudplatform.ui.activity.ManagerDeptActivity"
            android:screenOrientation="portrait" />

        <!-- 模块管理 -->
        <activity
            android:name=".cloudplatform.ui.activity.ManagerModuleActivity"
            android:screenOrientation="portrait" />

        <!-- 个人中心 -->
        <activity
            android:name=".cloudplatform.ui.activity.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码 -->
        <activity
            android:name=".cloudplatform.ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 账户与安全 -->
        <activity
            android:name=".cloudplatform.ui.activity.AccountSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloudplatform.ui.activity.PersonalInfoActivity"
            android:screenOrientation="portrait" />

        <!-- 引导页 -->
        <activity
            android:name=".cloudplatform.ui.activity.GuideActivity"
            android:screenOrientation="portrait" />

        <!-- 个人中心 -->
        <activity
            android:name=".cloudplatform.ui.activity.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码 -->
        <activity
            android:name=".cloudplatform.ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 账户与安全 -->
        <activity
            android:name=".cloudplatform.ui.activity.AccountSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloudplatform.ui.activity.PersonalInfoActivity"
            android:screenOrientation="portrait" />

        <!-- 切换组织 -->
        <activity
            android:name=".cloudplatform.ui.activity.ChangeOrganizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FloatActivity" />
        <activity android:name=".cloudplatform.ui.activity.MessageListActivity" />
        <activity android:name=".cloudplatform.ui.activity.MessageIssueActivity" />
        <activity android:name=".cloudplatform.ui.activity.MessageDetailActivity" />
        <activity android:name=".cloudplatform.ui.activity.ChangeIpActivity" />
        <activity
            android:name=".cloudplatform.ui.activity.ListRoleActivity"
            android:label="@string/title_activity_list_role"
            android:theme="@style/AppTheme" />

        <!---->
        <activity
            android:name=".cloudplatform.ui.activity.ManagerMessageActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />

    </application>

</manifest>